body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img{
    width: 45px;
    padding: 0px 10px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 0px;
}
nav form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
nav form button{
    background-color: #333;

}
nav form button:hover{
    background-color: #222;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section {
    padding: 20px;
    background-color: #444;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 30px 10px;
    width: 100%;
    max-width: 80%;
}

#crearTasques{
    height: fit-content;
    margin: 10px;
    width: 100%;
}
#tasquesActives{
    grid-column: 1;
}
#tasquesCompletades{
    grid-column: 2;
}
#tasquesDia{
    grid-column: 1/3;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    
}

.tasca {
    background: #444;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-left: 5px solid #bb86fc;
    transition: transform 0.2s ease-in-out;
    
    /* Ajustos per posicionar els botons a la dreta */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tasca:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.nom {
    font-weight: bold;
    font-size: 20px;
    color: #bb86fc;
    margin-bottom: 8px;
}

.data {
    font-size: 14px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.descripcio {
    font-size: 16px;
    color: #e0e0e0;
}
.completar, .eliminar, .completar:hover, .eliminar:hover{
    background-color: #444;
    padding: 0px;
    margin-bottom: 0px;
}
.completar img, .eliminar img{
    width: 30px;
}
.botoInvisible{
    background-color: #444;
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.botoInvisible:hover{
    background-color: #444;
}



.deshacer, .eliminar {
    width: 30px; 
    height: 30px;
    background-color: #303030; 
    border: none;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.deshacer img {
width: 12px; 
height: auto;
}

.deshacer:hover {
background-color: rgb(64, 182, 255); 
}
  

/* Contenidor dels botons dins la tasca */
.botons {
    display: flex;
    flex-direction: column; /* Fa que els botons es posin un sota l'altre */
    gap: 8px;
}

.error{
    color: rgb(238, 49, 49);
    text-align: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    background-color: #555;
    color: #f0f0f0;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;   
}
input::placeholder,
textarea::placeholder {
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8; 
}

input:user-valid{
    border: 1px solid green;
}

input:user-invalid{
    border: 1px solid red
}

input::placeholder {
    color: #bbb;
}

button {
    background-color: #7d3c98;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #6a3283;
    cursor: pointer;
}

.btnCrear{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Assegura que estigui per sobre d'altres elements */
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 36px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.nota {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #1e1e1e;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
}

.titol {
    font-weight: bold;
    font-size: 18px;
    color: #bb86fc;
}

.data {
    font-size: 14px;
    color: #CCC;
}

.contingut {
    margin-top: 5px;
    color: #e0e0e0;
}

/* Estils per a pantalles grans */
@media (min-width: 768px) {
    .formulari {
        max-width: 600px;
        
    }

    button {
        padding: 14px;
        font-size: 18px;
    }
}