body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img{
    width: 45px;
    padding: 0px 10px;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

#dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #222;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none; /* Amagat per defecte */
    min-width: 200px;
    padding: 10px;
    z-index: 100;
}

#dropdown-menu button {
    width: 100%;
    padding: 8px 10px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
}

#imgLogout{
    width: 15px;
}

#dropdown-menu button:hover {
    background: #444;
}

/* Classe per mostrar el menú */
.show {
    display: block !important;
}


nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 0px;
}
nav form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
nav form button{
    background-color: #333;

}
nav form button:hover{
    background-color: #222;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
section {
    padding: 20px;
    background-color: #444;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 30px 10px;
    width: 100%;
    max-width: 80%;
}

#crearTasques{
    height: fit-content;
    margin: 10px;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    
}

.tasca {
    background: #444;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-left: 5px solid #bb86fc;
    transition: transform 0.2s ease-in-out;
    
    /* Ajustos per posicionar els botons a la dreta */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasca-contenidor{
    margin-right: 10px;
}

.tasca:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.nom {
    font-weight: bold;
    font-size: 20px;
    color: #bb86fc;
    margin-bottom: 8px;
}

.data, .dies {
    font-size: 14px;
    color: #e0e0e0;
    margin-bottom: 10px;
}

.descripcio {
    font-size: 16px;
    color: #e0e0e0;
}

.botoInvisible{
    background-color: #444;
    padding: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.botoInvisible:hover{
    background-color: #444;
}


.deshacer, .eliminar, .completar {
    width: 30px; 
    height: 30px;
    background-color: #bb86fc; 
    border: none;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.completar img{
    width: 12px;
    height: auto;
}
.deshacer img {
width: 12px; 
height: auto;
}

.eliminar img{
    width: 18px;
    height: auto;
}

.completar:hover{
    background-color: #2da72d;
    transform: scale(1.05);
}
.deshacer:hover {
    background-color: #40b6ff;
    transform: scale(1.05);
}

.eliminar:hover{
    background-color: #ff2a2a;
    transform: scale(1.05);
}
  

/* Contenidor dels botons dins la tasca */
.botons {
    display: flex;
    flex-direction: column; /* Fa que els botons es posin un sota l'altre */
    gap: 8px;
}

.errorWarning {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #EF665B;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .error__icon path {
    fill: #fff;
  }
  
  .error__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  
  .error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .error__close path {
    fill: #fff;
  }

.error{
    color: rgb(238, 49, 49);
    text-align: center;
}

.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #509AF8;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .info__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .info__icon path {
    fill: #fff;
  }
  
  .info__title {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
  
  .info__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .info__close path {
    fill: #fff;
  }

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea, select {
    background-color: #555;
    color: #f0f0f0;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;   
}
input::placeholder,
textarea::placeholder {
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8; 
}

input:user-valid{
    border: 1px solid green;
}

input:user-invalid{
    border: 1px solid red
}

input::placeholder {
    color: #bbb;
}

button {
    background-color: #7d3c98;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 2px;
}

button:hover {
    background-color: #6a3283;
    cursor: pointer;
}

.btnRegistre{
    background-color: #777;
}

.btnRegistre:hover{
    background-color: #666;
}

.btnCrear{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    /* background-color: #007bff; */
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 36px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.notes{
    display: flex;

}
.titolNotes{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.contenidorNotes{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    flex-grow: 1;
    gap: 20px;
    padding: 20px;
}

.nota {
    border: 1px solid #333;
    padding: 10px;
    /*margin-bottom: 10px;*/
    border-radius: 5px;
    background: #444;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    /* max-width: 80%; */
}

.titol {
    font-weight: bold;
    font-size: 18px;
    color: #bb86fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titol button{
    margin-left: 20px;
}

.contingut {
    margin-top: 5px;
    color: #e0e0e0;
}

/* Estils per a pantalles grans */
@media (min-width: 768px) {
    .formulari {
        max-width: 600px;
        
    }

    button {
        padding: 14px;
        font-size: 18px;
    }
}